<!DOCTYPE html>
<html>
	<head>
		<title>Case</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Responsive -->
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/bootstrap-image-gallery.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            html,
            body {
               margin:0;
               padding:0;
               height:100%;
            }
            #super {
               height: calc(100% - 82px);
            }
            
        </style>
	</head>
	<body>
    <form id="super" action="" method="post">
		<div class="navbar" style="width: 100%;">
			<div class="navbar-inner">
				<a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse" style="padding: 4px 10px 4px; font-size: 14px; font-weight: bold">
				Menu
				</a>
                <ul class="nav pull-right">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{user.usertype.name}} {{ user.username }}
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="/profilepage/">Profile</a></li>
                        {% if user.usertype.name == "Administrator" %}<li><a href="/admin/">Admin Page</a></li>{% endif %}
                        <li><a href="/logout/">Logout <i class="icon-off"></i></a></li>
                        </ul>
                    </div>
                </ul>
                <div class="nav-collapse collapse">
                    <div>
                        <ul class="nav pull-left">
                            <li>&nbsp</li>
                            <li><a href="/dashboard/"><i class="icon-tasks"></i> Summary</a></li>
                            <li><a href="/monitoring/"><i class="icon-eye-open"></i> Monitoring</a></li>
                            <li><a href="/records/"><i class="icon-book"></i> Records</a></li>
                            <li><a href="/map/"><i class="icon-map-marker"></i> Map</a></li>
                            <li><a href="/timeline/"><i class="icon-globe"></i> Timeline</a></li>
                            <li><a href="#helpModal" id="help" data-toggle="modal"><i class="icon-question-sign"></i> Help</a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
        
        <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
            <div class="modal-header">
                <input type="checkbox" id="currentlyViewed_chkbox_printing" onchange="document.getElementById('chkbox_'+window.currentImageIndex).checked = this.checked;toggleSelectAll(window.currentImageIndex)"> select for printing
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body"><div class="modal-image" id="modal-image_currentlyViewed"></div></div>
            <div class="modal-footer">
                <a class="btn btn-info modal-prev pull-left" style="display: inline-block" onclick="checkGalleryImage(-1)"><i class="icon-arrow-left icon-white"></i> Previous</a>
                <a class="btn btn-primary modal-next" style="display: inline-block" onclick="checkGalleryImage(1)">Next <i class="icon-arrow-right icon-white"></i></a>
            </div>
        </div>
        
		<div class="container-fluid" style="background-color: white; position: relative; height: 100%; padding-bottom: 0; padding-right: 0">
			<div class="row-fluid" style="background-color: white; position: relative; height: 100%">
				<div class="span9 well container" style="background-color: white; padding-top: 0;" >
					<h4 class="pull-left">Patient Information</h4>
                    <h4 class="pull-right">{{case.date}}</h4>
                    <table class="table table-condensed table-bordered" style="width: 100%">
                    <tr><th class="span2">Case No.<td class="span10">{{case.id}}
                    <tr><th>Age<td>{{case.age}}
                    <tr><th>Address<td>{{case.region}}, {{case.address}}
                    <tr><th>Diagnosis<td>{{case.human_diagnosis}}
                    <tr><th>Coordinates<td>{{case.lat}}, {{case.lng}}
                    </table>
                    <div class="">
                        <h4 class="pull-left">Computer Diagnosis</h4>
                        <h4 class="pull-right">Accuracy: 86%</h4>
                        <br>
                        <table class="table table-condensed table-bordered" style="width: 100%">
                        <tr><th class ="span2">Diagnosis<td>{{case.maltype}}
                    </table>
                    </div>
                    <div class="pull-right">
                    <a class="btn btn-medium" href="/map/?lat={{case.lat}}&lng={{case.lng}}&zoom=13&date_start=1/1/1970&date_end=Today">View on Map</a>
                    <input class="btn btn-medium" type="submit" value="Print" style="height: 30px">
                    </div>
				</div>
				<div class="span3 well" style="background-color: white; overflow-y: auto; overflow-x:hidden; position: relative; height: 100%; padding: 0.5%; padding-top: 0;">
                    <ul class="nav nav-tabs" id="image_tabs">
                        <li class="active"><a href="#raw_images" data-toggle="tab">Raw Images</a></li>
                        <li><a href="#computer_labeled_images" data-toggle="tab">Computer Labeled</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="raw_images">
                            <table class="table-condensed" style="width: 100%; vertical-align: bottom; padding: 0; margin: 0">
                            <tr>
                            <td style="width: 64%"><h5 class="pull-left">Check for printing</h5>
                            <td style="width: 34%"><h5 class="pull-right">Select all</h5> 
                            <td style="width: 2%; padding: 0%"><input id="selectAll" class=" pull-right" type="checkbox" onclick="toggleAll()" style="margin-bottom: 5px">
                            <script>
                             function toggleAll()
                             {
                                for (var i=0; i<window.currentGalleryLength; i++)
                                {
                                    document.getElementById("chkbox_"+i).checked = document.getElementById("selectAll").checked;
                                }
                             }
                             function toggleSelectAll(x)
                             {
                                if(document.getElementById("chkbox_"+x).checked == false)
                                {
                                    document.getElementById("selectAll").checked = false;
                                }
                             }
                            </script>
                            </table>
                            <div class="row-fluid" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="padding: 0">
                                <ul class="thumbnails">
                                 {% for i in images %}
                                <li class="span12" style="margin: 0; margin-left: 0; margin-right: 1.2%; margin-bottom: 1.2%">
                                    <div class="container span12">
                                        <input class=" pull-left" type="checkbox" name="checkbox_{{loop.index0}}" id="chkbox_{{loop.index0}}" onchange="toggleSelectAll({{loop.index0}})">
                                        <a title="{{i}}" href="/{{i}}" class="thumbnail  pull-right" style="width: calc(100% - 30px)" data-gallery="gallery" onclick="window.currentImageIndex={{loop.index0}};getElementById('currentlyViewed_chkbox_printing').checked = document.getElementById('chkbox_'+{{loop.index0}}).checked;">
                                          <img src="/{{i}}" alt="">
                                        </a>
                                    </div>
                                     {% if loop.index0 == (loop.length-1) %}
                                          <script>
                                                window.currentGalleryLength = {{ loop.length }}
                                                function checkGalleryImage(increment) {
                                                    var i = (window.currentImageIndex+increment+window.currentGalleryLength)%window.currentGalleryLength;
                                                    checkGalleryImage.chkbox_print.checked = document.getElementById("chkbox_"+i).checked;
                                                    window.currentImageIndex = i;
                                                }
                                                checkGalleryImage.chkbox_print = document.getElementById("currentlyViewed_chkbox_printing");
                                          </script>
                                     {% endif %}
                                 {% endfor %}
                                 </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="computer_labeled_images">
                            None yet.
                            <div class="row-fluid" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="padding: 0">
                                <ul class="thumbnails">
                                 {% for i in images %}
                                <li class="span12" style="margin: 0; margin-left: 0; margin-right: 1.2%; margin-bottom: 1.2%">
                                    <div class="container span12">
                                        <a title="{{i}}" href="/{{i}}" class="thumbnail  pull-right" style="width: calc(100% - 30px)" data-gallery="gallery" onclick="window.currentImageIndex={{loop.index0}};getElementById('currentlyViewed_chkbox_printing').checked = document.getElementById('chkbox_'+{{loop.index0}}).checked;">
                                            <img src="/{{i}}" alt="">
                                            <h6 class="pull-left">Vivax</h6>
                                            <h6 class="pull-right">86%</h6>
                                        </a>

                                        
                                    </div>
                                     {% if loop.index0 == (loop.length-1) %}
                                          <script>
                                                window.currentGalleryLength = {{ loop.length }}
                                                function checkGalleryImage(increment) {
                                                    var i = (window.currentImageIndex+increment+window.currentGalleryLength)%window.currentGalleryLength;
                                                    checkGalleryImage.chkbox_print.checked = document.getElementById("chkbox_"+i).checked;
                                                    window.currentImageIndex = i;
                                                }
                                                checkGalleryImage.chkbox_print = document.getElementById("currentlyViewed_chkbox_printing");
                                          </script>
                                     {% endif %}
                                 {% endfor %}
                                 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </form>
    <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h3 id="helpModalLabel">View Case</h3>
        </div>
        <div class="modal-body">
        <p>This page shows the details of a speciefic case. <br><br> The "View on Map" button brings you to the map and zooms in on the location of this case. <br><br>The "Print" button prints the details of this case along with the selected images.</p>
        </div>
    </div>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/load-image.js"></script>
        <script src="/static/js/bootstrap-image-gallery.js"></script>
        <script>
            function var_dump(x) {
                var s = "";
                for (var i in x) {
                    s += i+" = "+x[i]+"\n";
                 }
                 alert(s);
            }
        </script>
	</body>
</html>
