<!doctype html>
<html><head>
		<title>{% block title %}{% endblock %} - Remote Microscopy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/static/css/eyecon-datepicker.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		</head><body>{% block style %}
		{% endblock %}

		{% block script %}
		{% endblock %}
	
	
		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header pull-right">
                    <ul class="nav navbar-nav pull-left" style="background-color: white; padding-right: 15px; padding-top: 8px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                {{user.usertype.name}} <b>{{user.firstname}} {{user.lastname}}</b> ({{ user.username }})
                            <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/profilepage/">Profile</a></li>
                                {% if user.is_administrator() %}<li><a href="/admin/">Admin Page</a></li>{% endif %}
                                <li class="divider"></li>
                                <li><a href="/logout/">Logout<span class="glyphicon glyphicon-off"></span></a></li>
                            </ul>
                        </div>
                    </ul>
                    <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse" data-target="#collapse-bar" style="height: 34px; margin-top: 16px; padding-top: 7px">Menu
                    </button>
                </div>
                
                <div id="collapse-bar" class="collapse navbar-collapse navbar-left" style="width: 50%">
                    <ul class="nav navbar-nav">
                        <li>&nbsp;</li>
                        <!--<li><a href="/dashboard/"><span class="icon-tasks"></span> Summary</a></li>-->
                        {% if not user.is_microscopist() %}<li {% if menu_active == 'monitoring' %}class="active"{% endif %}><a href="/monitoring/"><span class="glyphicon glyphicon-eye-open"></span> Monitoring</a></li>{% endif %}
                        <li {% if menu_active == 'records' %}class="active"{% endif %}><a href="/records/"><span class="glyphicon glyphicon-book"></span> Records</a></li>
                        {% if not user.is_microscopist() %}<li {% if menu_active == 'map' %}class="active"{% endif %}><a href="/map/"><span class="glyphicon glyphicon-globe"></span> Map</a></li>{% endif %}
                        {% if not user.is_microscopist() %}<li {% if menu_active == 'timeline' %}class="active"{% endif %}><a href="/timeline/"><span class="glyphicon glyphicon-time"></span> Timeline</a></li>{% endif %}
                        <li><a href="#helpModal" id="help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                    </ul>
                </div>
			</div>
		</div>
		{% block content %}
		{% endblock %}
	
</body></html>