<!DOCTYPE html>
<html>
	<head>
		<title>Visualization</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/eyecon-datepicker.css" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script>
            var noMalariaPin = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + "01DF01", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
            
            var malariaPin = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + "FE7569", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
            
            function MarkerList(name, list, markerImage) {
                this.name = name;
                this.list = list;
                this.markerImage = markerImage;
                this.show = true;
                this.setVisible = function(b) {
                    this.show = b;
                    for (var i=0; i<this.list.length; i++){this.list[i].setVisible(this.show)}
                }
                this.toggleVisible = function() {
                    this.setVisible(!this.show);
                }
            }
            var markers = [
                new MarkerList("Falciparum", [{% for i in list1 %}new google.maps.LatLng({{i}}){% if loop.index0 != (loop.length-1) %},{% endif %}{% endfor %}], malariaPin),
                new MarkerList("Vivax", [{% for i in list2 %}new google.maps.LatLng({{i}}){% if loop.index0 != (loop.length-1) %},{% endif %}{% endfor %}], malariaPin),
                new MarkerList("Malariae", [{% for i in list3 %}new google.maps.LatLng({{i}}){% if loop.index0 != (loop.length-1) %},{% endif %}{% endfor %}], malariaPin),
                new MarkerList("Ovale", [{% for i in list4 %}new google.maps.LatLng({{i}}){% if loop.index0 != (loop.length-1) %},{% endif %}{% endfor %}], malariaPin),
                new MarkerList("No Malaria", [{% for i in list5 %}new google.maps.LatLng({{i}}){% if loop.index0 != (loop.length-1) %},{% endif %}{% endfor %}], noMalariaPin)
            ]
            
            
            function initialize() {
              var myLatlng = new google.maps.LatLng({{lat}},{{lng}});
              var mapOptions = {
                zoom: {{zoom}},
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

              function addMarker(latLng, markerType) {
                    return new google.maps.Marker({
                    position: latLng,
                    icon: markerType,
                    map: map
                  });
              }
              for (var j=0;j<markers.length;j++) {
                    for (var i=0, marker_category=markers[j]; i<marker_category.list.length; i++){marker_category.list[i] = addMarker(marker_category.list[i], marker_category.markerImage)}
              }
              
              var filter = document.getElementById('filter')
              map.controls[google.maps.ControlPosition.RIGHT_TOP].push(filter);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
            var show1 = true, show2 = true, show3 = true, show4 = true, show5 = true
            function triggerMarker(x)
              {
                var markerclass = markers[x-1];
                if (markerclass) {
                    markerclass.toggleVisible();
                }
                
                var total = 0;
                for (var i=0;i<markers.length;i++) {
                    if (markers[i].show) {
                        total += markers[i].list.length;
                    }
                }
                document.getElementById("marker_total").innerHTML = total;
              }
        </script>
		<style>
		html, body {
			height: 100%;
			overflow: hidden;
			margin: 0 0 0;
		}
        #filter { 
        background-color: transparent; 
        right: 20px;
        width: 100px;
        background: white; 
        border: 1px solid;
        border-color: #999999;
        padding: 5px;
        padding-left: 7px;
        padding-bottom: 3px;
        margin-right: 5px;
        -webkit-box-shadow: -5px 7px 6px -6px #0F0F0F;
	    -moz-box-shadow: -5px 7px 6px -6px #0F0F0F;
        box-shadow: -5px 7px 6px -6px #0F0F0F;
        }
        #checkbox{
            margin-bottom: 5px;
        }
		</style>
	</head>
	<body>
		<div class="navbar" style="width: 100%;">
			<div class="navbar-inner">
				<div>
                    <div>
					<ul class="nav pull-left">
						<li><a href="/dashboard/"><i class="icon-tasks"></i> Summary</a></li>
						<li><a href="/records/"><i class="icon-book"></i> Records</a></li>
						<li class="active"><a href="/map/"><i class="icon-globe"></i> Visualization</a></li>
                        <li><a href="#" id="help" data-toggle="popover"><i class="icon-question-sign"></i> Help</a></li>
					</ul>
					
					<ul class="nav pull-right">
						<li><a href="/profilepage/">{{user.usertype.name}} {{ user.username }}</a></li>
						<li><a href="/logout/">Logout <i class="icon-off"></i></a></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
        
        <div id="map-canvas" class="google-maps" style="height: 100%; width: 100%; margin: -20px 0 0;"></div>

        <div id="filter" class="container" >
        <span id="filter_container">
        </span>
        Total: <div class="pull-right" id="marker_total" name="total" style="margin-right: 5px">0</div>
        <hr style="margin: 0 0 0">
        <form action="/map/" method="get" style="padding: 0; margin: 0;">
        From:<br>
        <input type="text" style="width: calc(100% - 15px); margin-bottom: 0" value="{{date_start}}" id="dpd1" name="date_start">
        <br>
        To:<br>
        <input type="text" style="width: calc(100% - 15px); margin-bottom: 3px" value="{{date_end}}" id="dpd2" name="date_end">
        <div class="" style="padding: 0; margin: 0">
        <input class="btn btn-medium" type="reset" value="Reset" onclick="window.location='/map/';"  style="display: inline-block; width: 48%"/>
        <input class="btn btn-medium" type="submit" id="submit_button" value="Filter" style="display: inline-block; width: 48%"/>
        </div>
        <input type="text" id="lng" name="lng" value="{{ lng }}" style="display: None">
        <input type="text" id="lat" name="lat" value="{{ lat }}" style="display: None">
        <input type="text" id="zoom" name="zoom" value="{{ zoom }}" style="display: None">
        </form>
        </div>
        <script>
            var markerFilters = document.getElementById("filter_container");
            for (var i=0;i<markers.length;i++) {
                var chkbox = document.createElement("input");
                chkbox.id = "checkbox";
                chkbox.type = "checkbox";
                chkbox.index = i+1;
                chkbox.onclick = function(e) {
                    triggerMarker(this.index);
                }
                chkbox.checked = true;
                markerFilters.appendChild(chkbox);
                
                var chkname = document.createElement("span");
                chkname.innerHTML = " "+markers[i].name;
                markerFilters.appendChild(chkname);
                
                markerFilters.appendChild(document.createElement("br"));
            }
            triggerMarker();
        </script>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/eyecon-datepicker.js"></script>
        <script>
            var clicked = false;
            var checkin = $('#dpd1').datepicker({
            onRender: function(date) {
            return date.valueOf();
            }
            }).on('changeDate', function(ev) {
            clicked = true;
            if (true) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate());
            checkout.setValue(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
            }).data('datepicker');
            var checkout = $('#dpd2').datepicker({
            onRender: function(date) {
            if (clicked)
                return date.valueOf() <= checkin.date.valueOf() - 1 ? 'disabled' : '';
            else
                return date.valueOf()
            }
            }).on('changeDate', function(ev) {
            checkout.hide();
            }).data('datepicker');
        </script>
        <script>
            $('#help').popover({
                title: 'Visualization Page',
                placement: 'bottom',
                html: true,
                trigger: 'hover',
                content: 'This page shows the disctribution of malaria cases all over the country. <hr> Use the filters to narrow down the results. <i class="icon-arrow-right"></i> <hr> <span style="font-weight: bold">Legend: </span><br><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2%7CFE7569"/> Malaria infected. <br> <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2%7C01DF01" /> No malaria.'
            });
        </script>
	</body>
</html>