{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block script %}
		<script src="/static/js/sha1.js"></script>
		<script>
			function hash() {
				var hash = CryptoJS.SHA1($('#oldpassword').val());
				$('#oldpassword').val(hash);
                if ($('#newpassword').val().length > 0)
                {
                    hash = CryptoJS.SHA1($('#newpassword').val());
                    $('#newpassword').val(hash);
                }
                if ($('#confirmpassword').val().length > 0)
                {
                    hash = CryptoJS.SHA1($('#confirmpassword').val());
                    $('#confirmpassword').val(hash);
                }
			}
		</script>
{% endblock %}

{% block style %}
        <style>
            html,
            body {
               margin:0;
               padding:0;
               height:100%;
            }
        </style>
{% endblock %}

{% block content %}
        <div class="well col-md-4 col-md-offset-4" >
			<h4>Change Password</h4>
            {% if message %}
            <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
            {% endif %}
            
                <form class="row" action="/profilepage/" name="cp" method="post" onsubmit="hash();">
                {{ changepass_form.hidden_tag() }}
                {{changepass_form.oldpassword(size=40, placeholder="Old Password", class="col-md-12", type="password")}} <br>
                {{changepass_form.newpassword(size=40, placeholder="New Password", class="col-md-12", type="password")}} <br>
                {{changepass_form.confirmpassword(size=40, placeholder="Confirm New Password", class="col-md-12", type="password")}} 
                <br><hr style="height: 10px;">
                <a class="btn col-md-6 btn-default" href="{% if user.is_microscopist() %}/records/{%else%}/monitoring/{%endif%}">Cancel</a>
                <input id="submit_button" value="Submit" style="display:none" type="submit">
                <a class="btn col-md-6 btn-default" onclick=$('#submit_button').click()>Submit</a>
                </form>
                
                {% if error %}
                
                    <div class="alert alert-danger alert-dismissable col-md-12" style="margin-top: 10px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                    </div>
                {% endif %}
        </div>
        
    <script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}