<!DOCTYPE html>
<html>
	<head>
		<title>Records</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Responsive -->
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/eyecon-datepicker.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            html,
            body {
               margin:0;
               padding:0;
               height:100%;
            }
            #super {
               min-height:100%;
               position:relative;
            }
            #body {
               padding:10px;
               padding-bottom: 20px;
            }
            #footer {
               position:absolute;
               bottom:0;
               width:100%;
               height: 20px;
               text-align: center;
            }
            
            #custom-search-form {
            margin:0;
            margin-top: 5px;
            padding: 0;
            }
            #custom-search-form .search-query {
            padding-right: 3px;
            padding-right: 4px \9;
            padding-left: 3px;
            padding-left: 4px \9;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            }
            #custom-search-form button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -28px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            }
            .search-query:focus + button {
            z-index: 3;
            }
        </style>
	</head>
	<body>
    <div id="super">
		<div class="navbar" style="width: 100%;">
			<div class="navbar-inner">
				<a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse" style="padding: 4px 10px 4px; font-size: 14px; font-weight: bold">
				Menu
				</a>
                <ul class="nav pull-right">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{user.usertype.name}} {{ user.username }}
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="/profilepage/">Profile</a></li>
                        {% if user.usertype.name == "Administrator" %}<li><a href="/admin/">Admin Page</a></li>{% endif %}
                        <li><a href="/logout/">Logout <i class="icon-off"></i></a></li>
                        </ul>
                    </div>
                </ul>
                <div class="nav-collapse collapse">
                    <div>
                        <ul class="nav pull-left">
                            <li>&nbsp</li>
                            <li><a href="/dashboard/"><i class="icon-tasks"></i> Summary</a></li>
                            <li><a href="/monitoring/"><i class="icon-eye-open"></i> Monitoring</a></li>
                            <li class="active"><a href="#"><i class="icon-book"></i> Records</a></li>
                            <li><a href="/map/"><i class="icon-map-marker"></i> Map</a></li>
                            <li><a href="/timeline/"><i class="icon-globe"></i> Timeline</a></li>
                            <li><a href="#helpModal" id="help" data-toggle="modal"><i class="icon-question-sign"></i> Help</a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
		<div class="container-fluid">
            <div class="row-fluid">
				<form action="/records/" method="get" name="filter" class="span3 container" style="background-color: white; ">
					<h4>Show Malaria Cases:</h4>
					<div class="input-prepend" style="width: 100%">
                    <span class="add-on">with</span>
					<select style="width: calc(100% - 35px)" name="malaria_selection">
                    {% for i in malariaList %}
                        <option {% if loop.index0 == malariaIndex %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
					</select>
					</div>

					<div class="input-prepend" style="width: 100%">
                    <span class="add-on">in&nbsp;&nbsp;&nbsp;</span>
					<select id="sel_region" style="width: calc(100% - 34px)" name="region_selection">
					{% for i in regionList %}
                        <option {% if loop.index0 == regionIndex %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
					</select>
					</div>

					<div id="province" class="input-prepend" style="width: 100%">
                    <span class="add-on">in&nbsp;&nbsp;&nbsp;</span>
					<select id="sel_province" style="width: calc(100% - 34px)" name="region_selection">
					{% for i in provinceList %}
                        <option {% if loop.index0 == provinceIndex %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
					</select>
					</div>

					<div id="city" class="input-prepend" style="width: 100%">
                    <span class="add-on">in&nbsp;&nbsp;&nbsp;</span>
					<select id="sel_city" style="width: calc(100% - 34px)" name="region_selection">
					{% for i in cityList %}
                        <option {% if loop.index0 == cityIndex %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
					</select>
					</div>

					<div id="barangay" class="input-prepend" style="width: 100%">
                    <span class="add-on">in&nbsp;&nbsp;&nbsp;</span>
					<select id="sel_barangay" style="width: calc(100% - 34px)" name="region_selection">
					{% for i in barangayList %}
                        <option {% if loop.index0 == barangayIndex %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
					</select>
					</div>

                    <br>
                    <div class="input-prepend" style="width: 100%">
                    <span class="add-on">from</span>
                    <input type="text" style="width: calc(100% - 52px)" value="{{date_start}}" id="dpd1" name="date_start">
                    </div> 
                    <br>
                    <div class="input-prepend" style="width: 100%">
                    <span class="add-on">to&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" style="width: calc(100% - 52px)" value="{{date_end}}" id="dpd2" name="date_end">
                    </div> 
                    <!-- HIDDEN FILTERS -->
                    <input type="text" id="sort_by" name="sort_by" value="{{ sort_by }}" style="display: None"> 
                    <input type="text" id="order" name="order" value="{{ order }}" style="display: None"> 
                    <input type="text" id="page" name="page" value="1" style="display: None"> 
                    <script>
                    function sort(column)
                    {
                        if (document.getElementById('order').value == "desc" && document.getElementById('sort_by').value == column) {
                            document.getElementById('order').value = "asc"
                        }
                        else {
                            document.getElementById('order').value = "desc"
                        }
                        document.getElementById('sort_by').value = column
                        document.getElementById('submit_button').click()
                    }
                    function set_page(page)
                    {
                        document.getElementById('page').value = page
                        document.getElementById('submit_button').click()
                    }
                    </script>
                    <!-- HIDDEN FILTERS -->
                    <br>
                    <!-- <input class="btn btn-medium" type="reset" value="Clear Filters" style="height: 30px"> -->
                    <div style="text-align: right">
                        <a class="btn" href="/records/" >Reset Filters</a>
                        <input class="btn btn-medium" type="submit" id="submit_button" value="Filter Records" style="height: 30px;">
                    </div>
				</form>
				<div class="span9" style="background-color: white;">
				    <table class="table table-bordered table-condensed">
					<tr>
                    <th class="span1" onclick="sort('case');"># <div class="pull-right"><i class="icon-minus" id="case_chevron"></i></div>
                    <th class="span2" onclick="sort('date');" style="min-width: 80px">Date <div class="pull-right"><i class="icon-minus" id="date_chevron"></i></div>
                    <th class="span5" onclick="sort('location');">Location <div class="pull-right"><i class="icon-minus" id="location_chevron"></i></div>
                    <th class="span3" onclick="sort('diagnosis');">Diagnosis <div class="pull-right"><i class="icon-minus" id="diagnosis_chevron"></i></div>
                    <th class="span1">
                    {% for i in caseList %}
					<tr><td>{{i.id}}<td>{{i.date}}<td>{{i.region}}, {{i.address}}<td>{{i.human_diagnosis}}<td><a href="/case/{{ i.id }}/" class="btn" style="width: calc(100% - 25px)">View</a>
                    {% endfor %}
                    {% if not caseList %}
                    <tr><td colspan="5" style="text-align: center; font-weight: bold">No Results</a>
                    {% endif %}
					</table>
                    {% if pagination.pages %}
                    <div class="pagination" style="text-align: center">
                    <ul>
                    <li><a href="#" {% if pagination.has_prev %}onclick="set_page('{{pagination.page - 1}}')"{% endif %}>&laquo; Previous</a></li>
                    {% for page in pagination.iter_pages() %}{% if page %}<li><a href="#" {% if page != pagination.page %}onclick="set_page('{{page}}')"{% else %}style="color: black; font-weight: bold"{% endif %}>{{ page }}</a></li>{% endif %}{% endfor %}
                    <li><a href="#"{% if pagination.has_next %}onclick="set_page('{{pagination.page + 1}}')"{% endif %}>Next &raquo;</a></li>
                    </ul>
                    </div>
                    {% endif %}
				</div>
			</div>
		</div>
        <div id="footer">CVMIG Group 23 2013-2014</div>
        </div>
        <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h3 id="helpModalLabel">Records</h3>
        </div>
        <div class="modal-body">
        <p>This page displays the latest malaria cases on the table. <br><br>Details of induvidual cases can be seen by clicking the respective "View" button.<br><br> Filters are available to narrow down the results.</p>
        </div>
        </div>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/eyecon-datepicker.js"></script>
        <script>
            $(document).ready ( function(){
                if ("{{ order }}" == "asc")
                    document.getElementById("{{ sort_by }}" + '_chevron').setAttribute("class", "icon-chevron-up")
                else
                    document.getElementById("{{ sort_by }}" + '_chevron').setAttribute("class", "icon-chevron-down")
            });
            var clicked = false;
            var checkin = $('#dpd1').datepicker({
            onRender: function(date) {
            return date.valueOf();
            }
            }).on('changeDate', function(ev) {
            // alert(ev.date.toString());
            clicked = true;
            if (true) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate());
            checkout.setValue(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
            }).data('datepicker');
            var checkout = $('#dpd2').datepicker({
            onRender: function(date) {
            if (clicked)
                return date.valueOf() <= checkin.date.valueOf() - 1 ? 'disabled' : '';
            else
                return date.valueOf()
            }
            }).on('changeDate', function(ev) {
            checkout.hide();
            }).data('datepicker');

            $('select#sel_region').change(function() {
                if ($('select#sel_region').val() == 'All Regions') {
                    $('div#province').hide();
                } else {
					$.getJSON('/ajax/records', {
						region: $('select#sel_region').val()
					}, function(data) {
						$('select#sel_province').empty().append('<option selected>All Provinces</option>');
						$.each(data.result, function(key, value) {
							$('select#sel_province').append('<option>' + value + '</option>');
						});
					});
                    $('div#province').show();
                }
                $('select#sel_province').prop('selectedIndex', 0);
                $('div#city').hide();
                $('select#sel_city').prop('selectedIndex', 0);
                $('div#barangay').hide();
                $('select#sel_barangay').prop('selectedIndex', 0);
            });

            $('select#sel_province').change(function() {
                if ($('select#sel_province').val() == 'All Provinces') {
                    $('div#city').hide();
                } else {
					$.getJSON('/ajax/records', {
						region: $('select#sel_region').val(),
						province: $('select#sel_province').val()
					}, function(data) {
						$('select#sel_city').empty().append('<option selected>All Cities</option>');
						$.each(data.result, function(key, value) {
							$('select#sel_city').append('<option>' + value + '</option>');
						});
					});
                    $('div#city').show();
                }
                $('select#sel_city').prop('selectedIndex', 0);
                $('div#barangay').hide();
                $('select#sel_barangay').prop('selectedIndex', 0);
            });

            $('select#sel_city').change(function() {
                if ($('select#sel_city').val() == 'All Cities') {
                    $('div#barangay').hide();
                } else {
					$.getJSON('/ajax/records', {
						region: $('select#sel_region').val(),
						province: $('select#sel_province').val(),
						city: $('select#sel_city').val()
					}, function(data) {
						$('select#sel_barangay').empty().append('<option selected>All Barangays</option>');
						$.each(data.result, function(key, value) {
							$('select#sel_barangay').append('<option>' + value + '</option>');
						});
					});
                    $('div#barangay').show();
                }
                $('select#sel_barangay').prop('selectedIndex', 0);
            });

            $(document).ready(function() {
                $('div#province').hide();
                $('div#city').hide();
                $('div#barangay').hide();
            });
        </script>
	</body>
</html>
