  <!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation 5</title>

  <link rel="stylesheet" href="/crowd/static/css/normalize.css">
  <link rel="stylesheet" href="/crowd/static/css/foundation.css">

  <link rel="stylesheet" href="/crowd/static/css/app.css">

  <link rel="stylesheet" href="/crowd/static/css/dropPin.css" type="text/css" />
  <script src="/crowd/static/js/jquery.js"></script>
  <script type="text/javascript" src="/crowd/static/js/dropPin/dropPin.js"></script>
  <script type="text/javascript" src='/crowd/static/js/dropPin/jquery.elevatezoom.js'></script>

  <script>
    $(document).ready(function() {
      $('#map').dropPin('dropMulti', {
        fixedHeight:450,
        fixedWidth:600,
        backgroundImage: '/crowd/static/img/1.jpg',
        zoomImage: '/crowd/static/img/1.jpg',
        pin: '/crowd/static/img/pin.png'
      });
      $('#map').elevateZoom({
        scrollZoom: true,
        zoomWindowOffsetx: 20,
        zoomWindowHeight: 300,
        zoomWindowWidth: 300,
        borderSize: 0
      });
    });
  </script>

  <script>
      var questions = ["Is there malaria?", "Is there more than 1?", "Is there falciparum?", "Is there vivax?", "Is it falciparum?", "Is it vivax?"];
  </script>

</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Malaria</a></h1>
      </li>
    </ul>
  
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Logout</a></li>
      </ul>
  
      <!-- Left Nav Section -->
      <ul class="left">
        <li>
        </li>
      </ul>
    </section>
  </nav>

  <ul class="breadcrumbs">
    <li><a href="#">Is there malaria?</a></li>
    <li><a href="#">Is there more than one species?</a></li>
    <li class="current"><a href="#">Is it Falciparum?</a></li>
  </ul>

  <div class="row">
    <div class='small-4 columns text-center'></div>
    <div class="small-12 columns text-center">
      <div id="map" data-zoom-image="/crowd/static/img/1.jpg"></div>
    </div>
    
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
        <span>_</span> <!-- this is a hack lol -->
    </div>
  </div>

  <div class="row">
    <div class="small-centered columns text-center">
      <ul class="vcard">
          <h4><li><span class="round label">#3</span>&nbsp;&nbsp;Is it Falciparum?</li></h4>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns text-center">
      <a href="#" class="button large alert radius expand">No</a>
    </div>
    <div class="small-6 columns text-center">
      <a href="#" class="button large success radius expand">Yes</a>
    </div>
  </div>
</body>
</html>
