  <!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Malaria Crowdsourcing App</title>

  <link rel="stylesheet" href="/crowd/static/css/normalize.css">
  <link rel="stylesheet" href="/crowd/static/css/foundation.css">

  <link rel="stylesheet" href="/crowd/static/css/app.css">

  <script src="/crowd/static/js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Malaria</a></h1>
      </li>
    </ul>
  
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">{{labeler.labelertype.name}} {{ user.username }}</a>
          <ul class="dropdown">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/crowd/logout/">Logout</a></li>
      </ul>
  
      <!-- Left Nav Section -->
      <ul class="left">
        <li>
        </li>
      </ul>
    </section>
  </nav>

  <ul class="breadcrumbs">
    <li><a href="#">Is there malaria? [Yes]</a></li>
    <li><a href="#">Is there more than one species? [No]</a></li>
    <li class="current"><a href="#">Is it Falciparum?</a></li>
  </ul>

  <div class="row">
    <div class="small-12 columns text-center">
      <img src="/crowd/static/img/1.jpg" width=450px height=337px />
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
        <span>_</span> <!-- this is a hack lol -->
    </div>
  </div>

  <div class="row">
    <div class="small-centered columns text-center">
      <div class="panel radius">
          <h4><span class="round label">#3</span>&nbsp;&nbsp;Is it <strong>Falciparum</strong>?</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns text-center">
      <a href="#" class="button large alert radius expand">No</a>
    </div>
    <div class="small-6 columns text-center">
      <a href="#" class="button large success radius expand">Yes</a>
    </div>
  </div>

  <script src="/crowd/static/js/vendor/jquery.js"></script>
  <script src="/crowd/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
